body {
	margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
	font-family: Roboto, sans-serif;
	color: #26bdf0;
}

.main-view {
	max-width: 1000px;
    margin: auto;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #80D8FF;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.WelcomeContainer {
	border: 1px solid grey;
}